/ecloudvalley.API/obj
/ecloudvalley.API/bin
/ecloudvalley.API/*.user
/ecloudvalley.Application/bin
/ecloudvalley.Application/obj
/ecloudvalley.Domain/bin
/ecloudvalley.Domain/obj
/ecloudvalley.Infrastructure/bin
/ecloudvalley.Infrastructure/obj
.vs/
